<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CppCompiler" value="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\cl.exe"/>
		<add key="CppLibPath" value="C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\lib"/>
	</appSettings>
</configuration>